<div>
  <header class="header">
    <div class="header-left">
      <div class="icon"></div>
      <h1 class="title">Task Manager</h1>
    </div>
    <div class="header-middle">
      <a href="#" class="home-link">Home Screen</a>
    </div>
    <div class="header-right">
      <button class="export-btn" (click)="exportToCSV()">Export to CSV</button>
    </div>
  </header>

  <div class="body-content m-3">
    <div class="logs">
      <h2>History Log</h2>
      <ul>
        <li *ngFor="let todo of todos">
          <app-todo-logs [todo]="todo"></app-todo-logs>
        </li>
      </ul>
    </div>

    <div class="about-todo">
      <div class="create-todo">
        <app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
      </div>
      <div class="todo-list">

        <div class="todo-heading">
          <h2 class="mb-4">My Todos</h2>

          <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div> -->

        </div>
       
        <div *ngIf="todos.length === 0; else elseBlock">No Todos to Display</div>
        <ng-template #elseBlock>
          <div *ngFor="let todo of todos">
            <app-todo-item [todo]="todo" (todoDelete)="deleteTode($event)"></app-todo-item>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
