
<div>
  <header class="header">
    <div class="header-left">
      <div class="icon"></div>
      <h1 class="title">Task Manager</h1>
    </div>
    <div class="header-middle">
      <a href="#" class="home-link">Home Screen</a>
    </div>
    <div class="header-right">
      <button class="export-btn" (click)="exportToCSV()">Export to CSV</button>
    </div>
  </header>

  <div class="body-content m-3">
    <div class="logs">
      <h2>History Log</h2>
      <ul>
      <li *ngFor="let todo of todos">
        <app-todo-logs [todo]="todo"></app-todo-logs>
      </li>
    </ul>
    </div>

    <div class="about-todo">
      <div class="create-todo">
        <app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
      </div>
      <div class="todo-list my-3">
        <h2>My Tasks</h2>
        <label for="sort">Sort by:</label>
        <select id="sort" (change)="sortTodosBy($event)">
          <option value="priority">Priority</option>
          <option value="date">Date</option>
          <option value="status">Status</option>
        </select>

        <div *ngIf="todos.length === 0; else elseBlock" class="my-3"> <strong>No Todos to Display</strong></div>
        <ng-template #elseBlock>
        <div *ngFor="let todo of todos" class="my-4">
          <app-todo-item [todo]="todo" (todoDelete)="deleteTodo($event)" (todoEdit)="editTodo($event)"></app-todo-item>
        </div>
      </ng-template>
      </div>
    </div>
  </div>
</div>
